.cart-icon {
	color: azure;
	font-size: 30px;
    padding: 5px;
    
}
.nav__right{
    margin-top: 6px;
}
.basket span {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -15px;
	top: -10px;
	width: 25px;
	height: 25px;
	background: var(--lightBlack);
	border-radius: 50%;
	color: var(--white);
	font-size: 12px;
}
.basket {
	position: relative;
}